<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ url_for('static',filename='styles/style.css') }}" type="text/css" rel="stylesheet" />
        <meta name="favicon attribution" content="Three Users by Icons By Alfredo from Noun Project (liscensed CC BY 3.0) - https://thenounproject.com/browse/icons/term/three-users/" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="manifest" href="/static/images/site.webmanifest">
        <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5b6eb0">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#cdd8fd">
        <title>fronters.cc</title>
        <script src="{{ url_for('static',filename='scripts/themeColor.js') }}"></script>
    </head>
    <body>
        <div id="spacer"></div>
        <div id="toggleDiv">
            <button type="button" class="button" id="themeToggle"></button>
        </div>
        <div class="page">
            <div class="page-content">
                <header> <a href="https://thenounproject.com/icon/three-users-349754/"><img id="logo" src="/static/images/android-chrome-192x192.png" alt="three users icon" title="Three Users by Icons By Alfredo" width="32" height="32"></a> fronters.cc</header>
                <p><strong>What is this thing?</strong> <br>
                    fronters.cc is a website that interfaces with <a href="https://pluralkit.me">PluralKit</a> and/or <a href="https://app.apparyllis.com/">Simply Plural</a> to display a user's public fronters.</p>
                <p><strong>Wait, what's a fronter?</strong> <br>
                    A fronter is someone who is "out," "forward," or "consciously present" in a plural system. Fronters interact with the physical world while other system members remain inside the mind until a switch occurs. 
                    For more information on plurality, visit <a href="https://morethanone.info/">morethanone.info</a>.</p>
                <p><strong>So how does this work?</strong> <br>
                    fronters.cc will collect the minimum amount of data required to create a fronting site. For PluralKit users, this means we will only ask for your system ID. For Simply Plural users, we will need your user ID and your token.
                    Because this is sensitve data, Simply Plural users must set a custom URL for their fronting page to protect their privacy. fronters.cc asks for <strong>READ-ONLY</strong> tokens to further protect your data.</p>
                    <p>fronters.cc will only show <strong>PUBLIC</strong> fronters. Private fronters (and fronters only shown to Trusted Friends) will not appear on the website. For more information on creating your own page, see the buttons at the bottom of the page.</p>
                <p><strong>Hey, something isn't working!</strong> <br>
                    fronters.cc is currently <strong>in beta</strong>. There might be issues and some functionality is not available or unfinished. Find an issue? Share it on <a href="https://codeberg.org/fronterscc/fronterscc/issues">Codeberg</a>.</p>
                    <p>Please note that if your avatars are not displaying properly, it might be because of the image hosting platform you're using. Imgur, Flickr, and similar sites do not allow their images to be retrieved and used on external websites. For PluralKit users, we suggest 
                    uploading your avatars as images through Discord, where they will be stored in the PluralKit CDN. For Simply Plural users, we suggest <a href="https://filegarden.com/">File Garden</a> or <a href="https://catbox.moe/">Catbox</a>.</p>
                <p><strong>This rocks!</strong> <br>
                    Thanks! Consider supporting the project by <a href="https://liberapay.com/fronters.cc">donating</a> or helping <a href="https://codeberg.org/fronterscc/fronterscc">maintain the code</a>. 
                    Our head developer is a homeless BIPOC system who can't afford to run this website by themselves. We need your help to keep fronters.cc alive! </p>
                    <p>(Interested in helping our head dev secure stable housing? Consider <a href="https://ko-fi.com/angelicnephilim">supporting them</a>!)</p>
                </p>
                <p><strong>Setting up a fronters.cc webpage is designed to be <em>easy</em> and <em>accessible</em>. To start, pick which platform you'd like to connect to:</strong></p>
                <div id="button-container">
                    <a href="{{ url_for('sp_setup') }}"><button type="button" onclick="" class="button">Simply Plural</button></a>
                    <a href="{{ url_for('pk_setup') }}"><button type="button" onclick="" class="button">PluralKit</button></a>
                </div>
            </div>
        </div>
    </body>
</html>