:root {
    --bg-gradient: linear-gradient(#363c51, #0f172a);
    --text-color: #FFF;
    --container-color: linear-gradient(#20273e, #1c2337);
    --footer-color: #20273e;
    --button-color: #363c51;
    --button-hover-color: #20273e;
    --button-hover-border: 1px solid transparent;
    --toggle-button-color: #0f172a;
    --custom-status-color: #c6b07e;
}

[data-theme="light"] {
    --bg-gradient: linear-gradient(#FFF, whitesmoke);
    --text-color: #000;
    --container-color: linear-gradient(#f5f5f5, #e3e3e3);
    --footer-color: #e3e3e3;
    --button-color: #FFF;
    --button-hover-color: #FFFBF1;
    --button-hover-border: 1px solid #000;
    --toggle-button-color: whitesmoke;
    --custom-status-color: #9c6346;
}

html {
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #20273e; /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    top: 35%;
    left: 50%;
    position: absolute;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#themeToggle {
    text-align: right;
    margin-right: 4em;
    position: relative;
    left: calc(100% - 7em);
    top: 0vh;
    background-color: var(--toggle-button-color);
}

#spacer {
    float: left;
    width: 6.5ch;
    border: 2px solid transparent;
}

#back-button {
    float: left;
    background-color: var(--toggle-button-color);
}

.desktop-label {
    display: none;
}

.tutorial-img {
    width: 100%;
}

.member-card-container {
    margin: auto;
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    position: relative;
}

.member-card {
    background: var(--container-color);
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    align-items: center;
}

.member-pronouns {
    text-align: center;
    word-break: break-word;
}

.member-avatar {
    margin: auto;
}

.member-birthday {
    text-align: center;
}

.member-desc {
    width: 100%;
    margin: auto;
    word-break: break-word;
}

.member-banner {
    margin: auto;
}

.member-status {
    color: var(--custom-status-color);
}

/*markdown stuff*/
blockquote {
    border-left: 4px solid #475569;
    border-radius: 1%;
    padding-left: 1em;
}

#spoilered {
    background-color: #334155;
    color: transparent;
    user-select: none;
    border-radius: 2%; 
    cursor: pointer !important;
    }
  
a {
    color: var(--text-color);
}

.d-emoji {
    width: 1em;
}

pre {
    display: inline;
}
/* End of markdown stuff*/

.member-avatar {
    min-width: 6rem;
    width: 6rem;
    min-height: 6rem;
    height: 6rem;
    margin: 0 0 0.5rem 0;
    border-radius: 4px;
    border: 4px solid transparent;
}

footer {
    background-color: var(--footer-color);
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

#footer-txt {
    color: var(--text-color);
    width: 60%;
}

.error-mssg {
    display: block;
    margin: auto;
    text-align: center;
}

h1, header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.2em;
}

h2 {
    text-align: center;
    margin-bottom: 0.2em;
}

.page {
    width: 90%;
    background: var(--container-color);
    margin: auto;    
    padding: 1em;
    border-radius: 5px;
    text-wrap: wrap;
    position: relative;
}

#button-container {
    text-align: center;
}

form {   
    padding: 1em;
    text-align: center;
}

label {
    text-align: center;
    margin: 0;
    padding: 0;
}

input {
    background-color: #FFFFFFD9;
    border: 1px solid #363c51;
    margin-bottom: 1em;
}

input:focus:invalid {
    background-color: pink;
    border: 1px solid #FF0000;
}

input:focus:valid {
    background-color: #a1f8ac;
    border: 1px solid #09911e;
}

#example {
    font-size: 0.75em;
    font-style: italic;
}

.button {
    background-color: var(--button-color);
    color: var(--text-color); 
    font-size: 1.1em;
    border: var(--button-hover-border);
    border-radius: 10px;
    padding: 0.75em;
    text-align: center;
    margin: 0.5em;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-color);
    border: 1px solid #363c51;
    color: var(--text-color);
}

@media only screen and (min-width: 1025px) {
    /* For laptops and desktops: */
    html {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    main {
        min-height: 85vh;
    }

    #themeToggle {
        /* float: right; */
        left: calc(100% - 15em);
    }

    #themeColorIcon {
        margin-right: 0.75em;
    }

    .desktop-label {
        display: contents;
    }

    .member-card-container {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
    }

    .member-card {
        max-width: 30%;
    }

    input#token {
        width: 65ch;
    }

    input#userID {
        width: 29ch;
    }

    footer {
        bottom: 0%;
        position: relative;
        max-height: 10%;
        margin: 10px 15%;
    }

    @media only screen and (min-width: 1305px) {
        .page {
            width: 40%;
        }    
    }

    @media only screen and (min-width: 2560px) {
        /* For huuuge screens (4K) */
        body {
            font-size: 2em;
        }
    }
}